<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.aemp.dao.AccountDao">
    <!--    查询用户-->
    <select id="queryAccount" resultType="com.seven.aemp.bean.AccountBean">
        SELECT ACCOUNT_ID,ACCOUNT_NAME,ACCOUNT_PWD,FIRM_NAME,ADDRESS , INDUSTRY , CERTIFICATE, LINK_MAN , PHONE,
        EMAIL, BUSINESS_ID, OPERATE_ID, ACCOUNT_STATE,CHECK_STATE,SALE_ID,OPERATE_STATE
        FROM sevenmanager.account
        <where>
            <if test="account.accountId != null and account.accountId != '' and account.accountId != 1">
                AND  ACCOUNT_ID = #{account.accountId}
            </if>
            <if test="account.accountName != null and account.accountName != ''">
                AND ACCOUNT_NAME = #{account.accountName}
            </if>
            <if test="account.accountPwd != null and account.accountPwd != ''">
                AND ACCOUNT_PWD  = #{account.accountPwd}
            </if>
            <if test="account.accountState != null and account.accountState != ''">
                AND ACCOUNT_STATE = #{account.accountState}
            </if>
            <if test="account.firmName != null and account.firmName != ''">
                AND FIRM_NAME LIKE "%"#{account.firmName}"%"
            </if>
        </where>
    </select>

    <!--    修改用户信息-->
    <update id="updateAccount">
        UPDATE sevenmanager.account
        SET
        <trim suffixOverrides=",">
            <if test="accountPwd != null and accountPwd != ''">
                ACCOUNT_PWD = #{accountPwd},
            </if>
            <if test="accountName != null and accountName != ''">
                ACCOUNT_NAME = #{accountName},
            </if>
            <if test="accountState != null and accountState != ''">
                ACCOUNT_STATE = #{accountState},
            </if>
            <if test="firmName != null and firmName != ''">
                FIRM_NAME = #{firmName},
            </if>
            <if test="address != null and address != ''">
                ADDRESS = #{address},
            </if>
            <if test="accountState != null and accountState != ''">
                ACCOUNT_STATE = #{accountState},
            </if>
            <if test="saleId != null and saleId != ''">
                SALE_ID = #{saleId},
            </if>
            <if test="industry != null and industry != ''">
                INDUSTRY = #{industry},
            </if>
            <if test="linkMan != null and linkMan != ''">
                LINK_MAN = #{linkMan},
            </if>
            <if test="phone != null and phone != ''">
                PHONE = #{phone},
            </if>
            <if test="email != null and email != ''">
                EMAIL = #{email},
            </if>
            <if test="businessId != null and businessId != ''">
                BUSINESS_ID = #{businessId},
            </if>
            <if test="operateId != null and operateId != ''">
                OPERATE_ID = #{operateId},
            </if>
            <if test="isUse != null and isUse != ''">
                IS_USE = #{isUse},
            </if>
            <if test="operateState != null and operateState != ''">
                OPERATE_STATE = #{operateState},
            </if>
        </trim>
        WHERE
        <if test="accountId != null and accountId != ''">
            ACCOUNT_ID = #{accountId}
        </if>
    </update>
</mapper>
