<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.aemp.dao.GroupDao">
    <select id="queryGroup" resultType="com.seven.aemp.bean.GroupBean">
        SELECT G.EG_ID,G.PLAN_ID,P.ACC_ID, G.EG_NAME, G.PLAN_DATE,G.PREDICT,G.COMPARE_PATTERN,G.BILL,G.THROW_URL,G.SOURCE_ID,G.SEX,G.AGE
          ,G.INTREST,G.PLAT,G.APP_ACTION,G.THROW_AREA,G.THROW_BEG_DATE,G.THROW_END_DATE,G.THROW_SEG_DATE,G.STATE,P.PLAN_NAME,SUM(IC.CLICK_NUM) AS CLICK_NUM
        ,SUM(IC.CLICK_NUM)* G.BILL AS CONSUME
        FROM sevenmanager.extent_group G
        LEFT JOIN sevenmanager.plant P ON G.PLAN_ID = P.PLAN_ID
        LEFT JOIN sevenmanager.extent_idea EI ON EI.EG_ID = G.EG_ID
        LEFT JOIN sevenmanager.ideaclick IC ON EI.IDEA_ID = IC.IDEA_ID
        <where>
            <if test="egId != null and egId != ''">
                AND EG_ID = #{egId}
            </if>
            <if test="planId != null and planId != ''">
                AND PLAN_ID = #{planId}
            </if>
            <if test="egName != null and egName != ''">
                AND EG_NAME  = #{egName}
            </if>
            <if test="accId != null and accId != '' and accId != 1">
                AND P.ACC_ID  = #{accId}
            </if>
            <if test="begDate != null and begDate != '' and endDate != null and endDate != ''">
                AND IC.IDEA_DATE  >= #{begDate} AND IC.IDEA_DATE  &lt; #{endDate}
            </if>
        </where>
        GROUP BY G.EG_ID
    </select>

    <!--查询某段时间内本组单日的点击量-->
    <select id="queryGroupIdeaClickByUnitDay" resultType="com.seven.aemp.bean.GroupBean">
        SELECT G.EG_ID,G.PLAN_ID,P.ACC_ID, G.EG_NAME, G.PLAN_DATE,G.PREDICT,G.COMPARE_PATTERN,G.BILL,G.THROW_URL,G.SOURCE_ID,G.SEX,G.AGE
        ,G.INTREST,G.PLAT,G.APP_ACTION,G.THROW_AREA,G.THROW_BEG_DATE,G.THROW_END_DATE,G.THROW_SEG_DATE,G.STATE,P.PLAN_NAME,SUM(IC.CLICK_NUM) AS CLICK_NUM
        ,SUM(IC.CLICK_NUM)* G.BILL AS CONSUME,IC.IDEA_DATE
        FROM sevenmanager.extent_group G
        LEFT JOIN sevenmanager.plant P ON G.PLAN_ID = P.PLAN_ID
        LEFT JOIN sevenmanager.extent_idea EI ON EI.EG_ID = G.EG_ID
        LEFT JOIN sevenmanager.ideaclick IC ON EI.IDEA_ID = IC.IDEA_ID
        <where>
            <if test="egId != null and egId != ''">
                AND EG_ID = #{egId}
            </if>
            <if test="planId != null and planId != ''">
                AND PLAN_ID = #{planId}
            </if>
            <if test="egName != null and egName != ''">
                AND EG_NAME  = #{egName}
            </if>
            <if test="accId != null and accId != '' and accId != 1">
                AND P.ACC_ID  = #{accId}
            </if>
            <if test="begDate != null and begDate != '' and endDate != null and endDate != ''">
                AND IC.IDEA_DATE  >= #{begDate} AND IC.IDEA_DATE  &lt; #{endDate}
            </if>
        </where>
        GROUP BY G.EG_ID, IC.IDEA_DATE
    </select>

</mapper>
