<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.aemp.dao.IdeaDao">
    <!--时间段内汇总点击量-->
    <select id="queryIdea" resultType="com.seven.aemp.bean.IdeaBean">
        SELECT I.IDEA_ID
        ,I.IDEA_NAME
        ,I.PLAN_ID
        ,P.PLAN_NAME
        ,I.EG_ID
        ,G.EG_NAME
        ,I.ADVERTISE_TYPE_ID
        ,I.UPDATE_URL
        ,I.IDEA_DESCRIBE
        ,I.IDEA_DATE
        ,FORMAT(SUM(IC.CLICK_NUM)/I.CLICK_RATE*100,0)  AS EXHIBITS
        ,I.CLICK_RATE
        ,G.BILL AS UNIT_PRICE
        ,I.STATE
        ,SUM(IC.CLICK_NUM) AS CLICK_NUM
        ,I.PROD_URL
        ,I.CHECK_STATE
        ,SUM(IC.CLICK_NUM)* G.BILL AS CUSTOME
        FROM sevenmanager.extent_idea I
        LEFT JOIN sevenmanager.ideaclick IC ON IC.IDEA_ID = I.IDEA_ID
        LEFT JOIN sevenmanager.extent_group G ON I.EG_ID=G.EG_ID
        LEFT JOIN  sevenmanager.plant P ON  P.PLAN_ID=I.PLAN_ID
        <where>
            <if test="idea.egId != null and idea.egId != ''">
                AND  I.EG_ID = #{idea.egId}
            </if>
            <if test="idea.planId != null and idea.planId != ''">
                AND I.PLAN_ID = #{idea.planId}
            </if>
            <if test="idea.ideaName != null and idea.ideaName != ''">
                AND I.IDEA_NAME = #{idea.ideaName}
            </if>
            <if test="idea.ideaId != null and idea.ideaId != ''">
                AND I.IDEA_ID  = #{idea.ideaId}
            </if>
            <if test="idea.checkState != null and idea.checkState != ''">
                AND I.CHECK_STATE  = #{idea.checkState}
            </if>
            <if test="idea.begDate != null and idea.begDate != '' and idea.endDate != null and idea.endDate != ''">
                AND IC.IDEA_DATE  >= #{idea.begDate} AND IC.IDEA_DATE  &lt; #{idea.endDate}
            </if>
        </where>
        GROUP BY I.IDEA_ID
    </select>

    <!--查询某短时间内单日的点击量-->
    <select id="queryIdeaClickByUnitDay" resultType="com.seven.aemp.bean.IdeaBean">
        SELECT I.IDEA_ID
        ,I.IDEA_NAME
        ,IC.IDEA_DATE
        ,I.PLAN_ID
        ,P.PLAN_NAME
        ,I.EG_ID
        ,G.EG_NAME
        ,I.ADVERTISE_TYPE_ID
        ,I.UPDATE_URL
        ,I.IDEA_DESCRIBE
        ,I.IDEA_DATE
        ,FORMAT(IC.CLICK_NUM/I.CLICK_RATE*100,0)  AS EXHIBITS
        ,FORMAT(I.CLICK_RATE/100,2) AS CLICK_RATE
        ,G.BILL AS UNIT_PRICE
        ,FORMAT(I.CLICK_NUM/I.UNIT_PRICE,2) AS CUSTOME
        ,I.STATE
        ,IC.CLICK_NUM AS CLICK_NUM
        ,I.PROD_URL
        ,IC.CLICK_NUM* G.BILL AS CUSTOME
        FROM sevenmanager.ideaclick IC
        LEFT JOIN sevenmanager.extent_idea I ON IC.IDEA_ID = I.IDEA_ID
        LEFT JOIN sevenmanager.extent_group G ON I.EG_ID=G.EG_ID
        LEFT JOIN  sevenmanager.plant P ON  P.PLAN_ID=I.PLAN_ID
        <where>
            <if test="egId != null and egId != ''">
                AND  I.EG_ID = #{egId}
            </if>
            <if test="planId != null and planId != ''">
                AND I.PLAN_ID = #{planId}
            </if>
            <if test="prodUrl != null and prodUrl != ''">
                AND I.PROD_URL = #{prodUrl}
            </if>
            <if test="ideaId != null and ideaId != ''">
                AND I.IDEA_ID  = #{ideaId}
            </if>
            <if test="begDate != null and begDate != '' and endDate != null and endDate != ''">
                AND IC.IDEA_DATE  >= #{begDate} AND IC.IDEA_DATE  &lt; #{endDate}
            </if>
        </where>
        GROUP BY I.IDEA_ID, IC.IDEA_DATE
    </select>

    <!--插入创意-->
    <insert id="addIdea" useGeneratedKeys="true" keyProperty="ideaId" parameterType="com.seven.aemp.bean.IdeaBean">
        INSERT INTO sevenmanager.extent_idea
            (PLAN_ID,EG_ID,IDEA_NAME,UPDATE_URL,IDEA_DESCRIBE,PROD_URL,EXHIBITS,CLICK_NUM,CLICK_RATE,UNIT_PRICE,STATE,CHECK_STATE,CREATE_DATE)
        VALUES
           (#{planId},#{egId},#{ideaName},#{updateUrl},#{ideaDescribe},#{prodUrl},0,0,0,#{unitPrice},#{state},#{checkState},#{createDate})
    </insert>

    <!--更新审核状态-->
    <update id="updateCheckState" useGeneratedKeys="true" keyProperty="ideaId" parameterType="com.seven.aemp.bean.IdeaBean">
        UPDATE sevenmanager.extent_idea SET
        <if test="checkState != '' and checkState != null">
            CHECK_STATE = #{checkState}
        </if>
        WHERE
        <if test="ideaId != '' and ideaId != null">
            IDEA_ID = #{ideaId}
        </if>
    </update>
    <!--更新点击数-->
    <update id="updateClickIdea" useGeneratedKeys="true" keyProperty="ideaId" parameterType="com.seven.aemp.bean.IdeaBean">
        UPDATE sevenmanager.extent_idea SET
          <if test="prodUrl != '' and prodUrl != null">
              CLICK_NUM = #{clickNum}
          </if>
        WHERE
        <if test="prodUrl != '' and prodUrl != null">
            PROD_URL = #{prodUrl}
        </if>
    </update>
</mapper>
