<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.aemp.dao.IdeaDao">
    <!--时间段内汇总点击量-->
    <select id="queryIdea" resultType="com.seven.aemp.bean.IdeaBean">
        SELECT I.IDEA_ID
        ,I.IDEA_NAME
        ,I.PLAN_ID
        ,P.PLAN_NAME
        ,I.EG_ID
        ,G.EG_NAME
        ,I.ADVERTISE_TYPE_ID
        ,I.UPDATE_URL
        ,I.IDEA_DESCRIBE
        ,I.IDEA_DATE
        ,FORMAT(SUM(IC.CLICK_NUM)/I.CLICK_RATE*100,0)  AS EXHIBITS
        ,I.CLICK_RATE
        ,G.BILL AS UNIT_PRICE
        ,I.STATE
        ,SUM(IC.CLICK_NUM) AS CLICK_NUM
        ,I.PROD_URL
        ,I.CHECK_STATE
        ,SUM(IC.CLICK_NUM)* G.BILL AS CUSTOME
        FROM sevenmanager.extent_idea I
        LEFT JOIN sevenmanager.ideaclick IC ON IC.IDEA_ID = I.IDEA_ID
        LEFT JOIN sevenmanager.extent_group G ON I.EG_ID=G.EG_ID
        LEFT JOIN  sevenmanager.plant P ON  P.PLAN_ID=I.PLAN_ID
        <where>
            <if test="idea.egId != null and idea.egId != ''">
                AND  I.EG_ID = #{idea.egId}
            </if>
            <if test="idea.planId != null and idea.planId != ''">
                AND I.PLAN_ID = #{idea.planId}
            </if>
            <if test="idea.ideaName != null and idea.ideaName != ''">
                AND I.IDEA_NAME = #{idea.ideaName}
            </if>
            <if test="idea.ideaId != null and idea.ideaId != ''">
                AND I.IDEA_ID  = #{idea.ideaId}
            </if>
            <if test="idea.checkState != null and idea.checkState != ''">
                AND I.CHECK_STATE  = #{idea.checkState}
            </if>
            <if test="idea.begDate != null and idea.begDate != '' and idea.endDate != null and idea.endDate != ''">
                AND IC.IDEA_DATE  >= #{idea.begDate} AND IC.IDEA_DATE  &lt; #{idea.endDate}
            </if>
        </where>
        GROUP BY I.IDEA_ID
    </select>

    <!--查询某短时间内单日的点击量-->
    <select id="queryIdeaClickByUnitDay" resultType="com.seven.aemp.bean.IdeaBean">
        SELECT EI.IDEA_NAME,EI.UPDATE_URL,EI.ADVERTISE_TYPE_ID,EI.IDEA_ID,EG.EG_ID,EG.EG_NAME,P.PLAN_ID,P.PLAN_NAME
        ,CASE WHEN EI.CHECK_STATE=0 THEN '未通过'
          WHEN EI.CHECK_STATE=1 THEN '通过' ELSE '审核中' END AS CHECK_STATE
        ,FORMAT(SIC.CLICK_NUM/ACC.CLICK_RATE,0) AS EXHIBITS,ACC.CLICK_RATE
        ,AVG(EG.BILL) AS UNIT_PRICE,SIC.CLICK_NUM,SIC.CLICK_NUM*EG.BILL AS CONSUME
        FROM
        sevenmanager.account ACC
        LEFT JOIN sevenmanager.plant P ON P.ACC_ID=ACC.ACCOUNT_ID
        LEFT JOIN sevenmanager.extent_group EG ON EG.PLAN_ID=P.PLAN_ID
        LEFT JOIN sevenmanager.extent_idea EI ON EI.EG_ID=EG.EG_ID
        LEFT JOIN (SELECT IC.IDEA_ID,SUM(IC.CLICK_NUM) AS CLICK_NUM FROM sevenmanager.ideaclick IC
        <where>
            <if test="idea.begDate != null and idea.begDate != ''">
                AND IC.IDEA_DATE  >= #{idea.begDate}
            </if>
            <if test="idea.endDate != null and idea.endDate != ''">
                AND IC.IDEA_DATE  &lt; #{idea.endDate}
            </if>
        </where>
        GROUP BY IC.IDEA_ID) SIC ON SIC.IDEA_ID=EI.IDEA_ID
        <where>
            EI.IDEA_ID IS NOT NULL
            <if test="idea.ideaId != null and idea.ideaId != ''">
                AND I.IDEA_ID  = #{idea.ideaId}
            </if>
            <if test="idea.checkState != null and idea.checkState != ''">
                AND EI.CHECK_STATE  = #{idea.checkState}
            </if>
            <if test="idea.ideaName != null and idea.ideaName != ''">
                AND EI.IDEA_NAME  LIKE  "%"#{idea.ideaName}"%"
            </if>
        </where>
        GROUP BY EI.IDEA_NAME,EI.UPDATE_URL,EI.ADVERTISE_TYPE_ID,EI.CHECK_STATE,EI.IDEA_ID,EG.EG_ID,EG.EG_NAME,P.PLAN_ID,P.PLAN_NAME,ACC.CLICK_RATE,SIC.CLICK_NUM
    </select>

    <!--插入创意-->
    <insert id="addIdea" useGeneratedKeys="true" keyProperty="ideaId" parameterType="com.seven.aemp.bean.IdeaBean">
        INSERT INTO sevenmanager.extent_idea
            (PLAN_ID,EG_ID,IDEA_NAME,UPDATE_URL,IDEA_DESCRIBE,PROD_URL,STATE,CHECK_STATE,CREATE_DATE)
        VALUES
           (#{planId},#{egId},#{ideaName},#{updateUrl},#{ideaDescribe},#{prodUrl},#{state},2,#{createDate})
    </insert>

    <!--更新审核状态-->
    <update id="updateCheckState" useGeneratedKeys="true" keyProperty="ideaId" parameterType="com.seven.aemp.bean.IdeaBean">
        UPDATE sevenmanager.extent_idea SET
        <if test="checkState != '' and checkState != null">
            CHECK_STATE = #{checkState}
        </if>
        WHERE
        <if test="ideaId != '' and ideaId != null">
            IDEA_ID = #{ideaId}
        </if>
    </update>
    <!--更新点击数-->
    <update id="updateClickIdea" useGeneratedKeys="true" keyProperty="ideaId" parameterType="com.seven.aemp.bean.IdeaBean">
        UPDATE sevenmanager.extent_idea SET
          <if test="prodUrl != '' and prodUrl != null">
              CLICK_NUM = #{clickNum}
          </if>
        WHERE
        <if test="prodUrl != '' and prodUrl != null">
            PROD_URL = #{prodUrl}
        </if>
    </update>


    <select id="queryIdeaBackReport" resultType="com.seven.aemp.bean.IdeaBean">
        SELECT EI.*,IFNULL(B.CLICK_NUM,0) clickNum,C.CLICK_RATE,
        FORMAT(C.AVG_BILL,2) unitPrice,
        FORMAT(B.CLICK_NUM / C.CLICK_RATE,2) EXHIBITS,
        FORMAT(B.CLICK_NUM * C.AVG_BILL,2) CONSUME,C.BALANCE
        FROM extent_idea EI
        LEFT JOIN (
            SELECT IDEA_ID,SUM(IDEA.CLICK_NUM) CLICK_NUM
            FROM ideaclick IDEA
            GROUP BY IDEA.IDEA_ID
        ) B
        ON B.IDEA_ID = EI.IDEA_ID
        LEFT JOIN (
            SELECT EG.*,A.CLICK_RATE,A.BALANCE
            FROM
            (
                SELECT PLAN_ID,SUM(BILL) BILL,COUNT(*) COUNT,SUM(BILL) / COUNT(*) AVG_BILL
                FROM extent_group
                GROUP BY PLAN_ID
            ) EG
            LEFT JOIN plant P ON P.PLAN_ID = EG.PLAN_ID
            LEFT JOIN account A ON P.ACC_ID = A.ACCOUNT_ID
        ) C ON C.PLAN_ID = EI.PLAN_ID
        <where>
            <if test="ideaBean.begDate != null and ideaBean.begDate != ''">
                AND EI.IDEA_DATE >= #{ideaBean.begDate}
            </if>
            <if test="ideaBean.endDate != null and ideaBean.endDate != ''">
                AND EI.IDEA_DATE &lt; #{ideaBean.endDate}
            </if>
        </where>
    </select>
</mapper>
