<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.aemp.dao.IdeaclickDao">
    <!--查询点击数-->
    <select id="queryIdeaclick" parameterType="com.seven.aemp.bean.IdeaclickBean" resultType="com.seven.aemp.bean.IdeaclickBean">
        SELECT
        IC.IC_ID
        ,IC.IDEA_ID
        ,IC.IDEA_DATE
        ,IC.IS_EXHIBIT
        ,IC.CLICK_NUM
        FROM SEVENMANAGER.IDEACLICK  IC
        WHERE 1=1
        <if test="ideaId != null and ideaId != ''">
            IC.IDEA_ID = #{ideaId}
        </if>
        <if test="icId != null and icId != ''">
            IC.IC_ID = #{icId}
        </if>
        <if test="ideaDate != null and ideaDate != ''">
            IC.IDEA_DATE = #{ideaDate}
        </if>
    </select>

    <!--插入点击数-->
    <insert id="addIdeaclick" keyProperty="icId" useGeneratedKeys="true" parameterType="com.seven.aemp.bean.IdeaclickBean">

    </insert>

    <!--更新点击数-->
    <update id="updateIdeaclick" parameterType="com.seven.aemp.bean.IdeaclickBean">

    </update>
</mapper>
