<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.aemp.dao.PlantDao">
    <!--模糊查询的两种不同的写法-->
    <select id="queryPlant" resultType="com.seven.aemp.bean.PlantBean">
        SELECT PLAN_ID
        ,PLAN_PREDICT
        ,STATE
        ,PLAN_NAME
        ,ACC_ID
        ,CREATE_DATE
        FROM sevenmanager.plant

        <where>
            <if test="plan.planId != null and plan.planId != ''">
                AND PLAN_ID = #{plan.planId}
            </if>
            <if test="plan.accId != null and plan.accId != '' and plan.accId != 1">
                AND ACC_ID  = #{plan.accId}
            </if>
            <if test="plan.begDate != null and plan.begDate != '' and plan.endDate != null and plan.endDate != ''">
                AND CREATE_DATE >= #{plan.begDate}
                AND CREATE_DATE &lt;= #{plan.endDate}
            </if>
            <if test="plan.planName != null and plan.planName != ''">
                --                 AND PLAN_NAME  LIKE  '% ${planName}%'
                AND PLAN_NAME  LIKE  "%"#{plan.planName}"%"
            </if>
        </where>
    </select>

    <!--后台查询计划报表-->
    <select id="queryPlantBackReport" resultType="com.seven.aemp.domain.PlantResultBean">
        SELECT
        P.PLAN_ID, P.PLAN_PREDICT, P.STATE, P.PLAN_NAME, P.ACC_ID, P.CREATE_DATE,A.CLICK_RATE,
        FORMAT(EG.AVG_BILL,2) unitPrice,B.CLICK_NUM,
        FORMAT(B.CLICK_NUM / A.CLICK_RATE,2) exhibits,
        FORMAT(B.CLICK_NUM * EG.AVG_BILL,2) consume,
        A.BALANCE
        FROM plant P
        LEFT JOIN account A
        ON P.ACC_ID = A.ACCOUNT_ID
        LEFT JOIN (
            SELECT
            PLAN_ID,SUM(BILL) BILL,COUNT(*) COUNT,
            SUM(BILL) / COUNT(*) AVG_BILL
            FROM extent_group
            GROUP BY PLAN_ID
        ) EG
        ON EG.PLAN_ID = P.PLAN_ID
        LEFT JOIN (
            SELECT P.PLAN_ID,SUM(IDEA.CLICK_NUM) CLICK_NUM
            FROM ideaclick IDEA
            LEFT JOIN extent_idea EI
            ON EI.IDEA_ID = IDEA.IDEA_ID
            LEFT JOIN plant P
            ON P.PLAN_ID = EI.PLAN_ID
            GROUP BY P.PLAN_ID
        ) B
        ON P.PLAN_ID = B.PLAN_ID
        <where>
            <if test="plantBean.begDate != null and plantBean.begDate != ''">
                AND P.CREATE_DATE >= #{plantBean.begDate}
            </if>
            <if test="plantBean.endDate != null and plantBean.endDate != ''">
                AND P.CREATE_DATE &lt; #{plantBean.endDate}
            </if>
        </where>
    </select>
</mapper>
